# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
env/
venv/
ENV/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
